html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.progress{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.badge{
  background-color: rgb(200, 200, 200);
}
