
#crisis_type{
 width:150px;
 margin: 10px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 10px;
}

input{
  margin: 10px;
}

label{
  margin: 10px;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

textarea{
  margin: 10px;
}
#map {
  position: relative;
  width: auto;
  height: 500px;
  padding: 50px;
}
