<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <!-- Cloud -->
    <script src="js/av-0.4.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


    <!-- universal CSS-->
    <link rel="stylesheet" type="text/css" href="css/basic.css" charset="utf-8">

    <!-- individual CSS-->
    <link rel="stylesheet" type="text/css" href="css/login.css" charset="utf-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <form class="form-login">

        <h2 class="text-center">Hi Administer!</h2>

        <div class="row">
          <div class="col-md-3">

          </div>

          <div class="col-md-6">

            <div class="well" ng-app="">

              <div class="alert alert-danger" id="errorMsg" role="alert" style="display:none">
                  <strong>Wrong account or password!</strong> Please try again.
              </div>


                <div class="input-group">
                  <span class="input-group-addon"><strong>Username</strong></span>
                  <input type="text" id="username1" ng-model="username" class="form-control" placeholder="Admin account">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><Strong>Password</Strong></span>
                  <input type="password" id="password1" ng-model="password" class="form-control" placeholder="Your password">
                </div>


              <div align="center">
                <button type="button" onclick="login()" ng-disabled="!username||!password" name="loginButton" class="btn btn-primary btn-md btn-success">Log in</button>
              </div>
              <!--add a space here... to keep the well size-->
              &nbsp;
            </div>
          </div>
        </div>
        </form>
      </div>
      <script type="text/javascript" src="js/login.js">
      </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
